.cl_ass {
    background-color: rgba(24, 20, 20, 0.815);
    color: rgb(241, 223, 223);
}
/* .moodChange{
    background-color: #F57251;
    color:#0274BD;
} */
.style {
    margin: 0 10px;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    border: 5px rgb(56, 56, 56) dotted;
    color: rgb(39, 17, 15);
}

.style:hover {

    border:5px dotted rgb(80, 14, 14);
    color: rgb(26, 72, 99);
    text-decoration: underline;
}
.event{
    color:rgb(61, 59, 55);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.anim{
    box-shadow: 10px 5px 3px 2px rgba(99, 98, 98, 0.541) ;
}